<%= render "share/main_header" %>

<div class="main-space">
  <%= render "share/side_bar" %>
  <div class="main-comics">
    <div class="now-page"><%= @user.nickname %>のマイページ</div>
    <%= render partial: 'share/comic', collection: @comics %>
  </div>
</div>