.content {
  border-bottom: 6px double black;
  margin-bottom: 10px;
}

.comic-title a {
  font-weight: 600;
  text-decoration: none;
  color: black;
  font-size: 25px;
}

.comic-info {
  display: flex;
  justify-content: right;
}

.comic-volume,
.comic-completion,
.comic-author {
  margin-left: 10px;
}

.bottom-contents {
  display: flex;
  justify-content: right;
  border-top: 1px solid black;
}

.comic-user {
  margin-right: 10px;
}

.comic-user a {
  font-weight: 600;
  text-decoration: none;
  color: black;
}

.good {
  width: 25px;
  display: flex;
  justify-content: center;
}

.good a {
  text-decoration: none;
  color: black;
}

